<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arthur.smsreceiver"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- 发送短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       
        <!-- 这是隐式的设置receiver 我们做的这个拦截器需要这样去做 -->
        <receiver android:name=".broadcast.SmsReceiver" >
            <intent-filter android:priority="1000" > <!-- 将优先级设到最大 -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>